<ion-header class="ion-no-border">
  <ion-toolbar color="ideaToolbar" *ngIf="app.isInMobileMode()">
    <ion-buttons slot="start">
      <ion-img [src]="app.getIcon(true)"></ion-img>
    </ion-buttons>
    <ion-title>{{ app.configurations.appTitle }}</ion-title>
  </ion-toolbar>
  <ion-toolbar color="ideaToolbar">
    <ion-buttons slot="start">
      <ion-button (click)="app.goToInTabs(['configurations'], { back: true })">
        <ion-icon name="arrow-back" slot="end"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'CATEGORIES.CATEGORIES' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="solid" color="ESNcyan" (click)="addCategory()">{{ 'COMMON.ADD' | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list class="aList maxWidthContainer">
    <ion-item lines="full" class="ion-text-center noElements" *ngIf="categories && !categories.length">
      <ion-label>{{ 'COMMON.NO_ELEMENTS' | translate }}</ion-label>
    </ion-item>
    <ion-item *ngIf="!categories">
      <ion-label><ion-skeleton-text animated></ion-skeleton-text></ion-label>
    </ion-item>
    <ion-item *ngFor="let category of categories" button (click)="openCategory(category)">
      <ion-label>{{ category.name }}</ion-label>
    </ion-item>
    <ion-infinite-scroll (ionInfinite)="paginate($event?.target)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>
</ion-content>
