<ion-content [class.viewMode]="!editMode">
  <app-edit-mode-buttons
    [title]="'TOPICS.MANAGE_TOPIC' | translate"
    [editMode]="!!editMode"
    (enter)="enterEditMode()"
    (exit)="exitEditMode()"
    (save)="save()"
  ></app-edit-mode-buttons>

  <ion-list class="aList maxWidthContainer" [lines]="editMode ? 'full': 'none'" *ngIf="topic">
    <p class="ion-text-right" *ngIf="!editMode && !topic.archivedAt">
      <ion-button [color]="topic.closedAt ? 'success': 'danger'" (click)="manageTopicStatus()">
        {{ (topic.closedAt ? 'COMMON.OPEN' : 'COMMON.CLOSE') | translate }}
      </ion-button>
    </p>
    <ion-list-header>
      <ion-label><h2>{{ 'TOPICS.ATTRIBUTES' | translate }}</h2> </ion-label>
    </ion-list-header>
    <ion-item [class.fieldHasError]="hasFieldAnError('name')">
      <ion-label position="stacked">
        {{ 'TOPICS.NAME' | translate }} <ion-text class="obligatoryDot"></ion-text>
      </ion-label>
      <ion-input [(ngModel)]="topic.name" [disabled]="!editMode"></ion-input>
    </ion-item>
    <ion-item [class.fieldHasError]="hasFieldAnError('category')">
      <ion-label position="stacked">
        {{ 'TOPICS.CATEGORY' | translate }} <ion-text class="obligatoryDot"></ion-text>
      </ion-label>
      <ion-select
        interface="popover"
        [compareWith]="compareWithCategory"
        [(ngModel)]="topic.category"
        [disabled]="!editMode || !categories"
      >
        <ion-select-option *ngFor="let category of categories" [value]="category">
          {{ category.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item [class.fieldHasError]="hasFieldAnError('event')">
      <ion-label position="stacked">
        {{ 'TOPICS.EVENT' | translate }} <ion-text class="obligatoryDot"></ion-text>
      </ion-label>
      <ion-select
        interface="popover"
        [compareWith]="compareWithEvent"
        [(ngModel)]="topic.event"
        [disabled]="!editMode || !events"
      >
        <ion-select-option *ngFor="let event of events" [value]="event">{{ event.name }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-list-header>
      <ion-label>
        <h2>{{ 'TOPICS.DEADLINE' | translate }}</h2>
        <p>{{ 'TOPICS.DEADLINE_IN_FAVORITE_TIMEZONE' | translate: { timezone: FAVORITE_TIMEZONE } }}</p>
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>{{ 'TOPICS.SET_DEADLINE' | translate }}</ion-label>
      <ion-checkbox [(ngModel)]="hasDeadline" (ionChange)="shouldResetDeadline()"></ion-checkbox>
    </ion-item>
    <idea-date-time
      *ngIf="hasDeadline"
      [(date)]="topic.willCloseAt"
      [useISOFormat]="true"
      [timePicker]="true"
      [label]="'TOPICS.DEADLINE' | translate"
      [class.fieldHasError]="hasFieldAnError('willCloseAt')"
    ></idea-date-time>
    <ion-list-header>
      <ion-label><h2>{{ 'TOPICS.CONTENT' | translate }}</h2></ion-label>
    </ion-list-header>
    <ion-item class="noElements" *ngIf="!topic.content && !editMode">
      <ion-label>{{ 'TOPICS.NO_CONTENT' | translate }}</ion-label>
    </ion-item>
    <app-html-editor
      *ngIf="topic.content || editMode"
      [(content)]="topic.content"
      [editMode]="!!editMode"
    ></app-html-editor>

    <ion-list-header [class.fieldHasError]="hasFieldAnError('subjects')">
      <ion-label><h2>{{ 'TOPICS.SUBJECTS' | translate }}</h2></ion-label>
    </ion-list-header>
    <ion-grid class="ion-no-padding">
      <ion-row
        class="ion-align-items-center row"
        *ngFor="let subject of topic.subjects; let index = index; let odd = odd"
        [class.fieldHasError]="hasFieldAnError('subject')"
        [class.odd]="odd"
      >
        <ion-col *ngIf="editMode" [size]="2" [sizeSm]="1">
          <ion-button fill="clear" color="danger" size="small" (click)="removeSubject(subject)">
            <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col [size]="editMode ? 10 : 12" [sizeSm]="editMode ? 5 : 6">
          <ion-item [class.fieldHasError]="hasFieldAnError('subjects[' + index + '].type')">
            <ion-label position="stacked">
              {{ 'SUBJECTS.TYPE' | translate }} <ion-text class="obligatoryDot"></ion-text>
            </ion-label>
            <ion-select interface="popover" [(ngModel)]="subject.type" [disabled]="!editMode">
              <ion-select-option *ngFor="let type of SubjectTypes | keyvalue" [value]="type.value">
                {{ ('SUBJECTS.TYPES.' + type.value) | translate}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col [size]="12" [sizeSm]="6">
          <ion-item [class.fieldHasError]="hasFieldAnError('subjects[' + index + '].id')">
            <ion-label position="stacked">
              {{ 'SUBJECTS.ID' | translate }} <ion-text class="obligatoryDot"></ion-text>
            </ion-label>
            <ion-input [(ngModel)]="subject.id" [disabled]="!editMode"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col [size]="12">
          <ion-item [class.fieldHasError]="hasFieldAnError('subjects[' + index + '].name')">
            <ion-label position="stacked">
              {{ 'SUBJECTS.NAME' | translate }} <ion-text class="obligatoryDot"></ion-text>
            </ion-label>
            <ion-input [(ngModel)]="subject.name" [disabled]="!editMode"></ion-input>
          </ion-item>
        </ion-col>
        <ng-container *ngIf="subject.type === SubjectTypes.USER">
          <ion-col [size]="12">
            <ion-item [class.fieldHasError]="hasFieldAnError('subjects[' + index + '].avatarURL')">
              <ion-label position="stacked">{{ 'SUBJECTS.AVATAR_URL' | translate }}</ion-label>
              <ion-input [(ngModel)]="subject.avatarURL" [disabled]="!editMode"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col [size]="6">
            <ion-item [class.fieldHasError]="hasFieldAnError('subjects[' + index + '].section')">
              <ion-label position="stacked">
                {{ 'SUBJECTS.SECTION' | translate }} <ion-text class="obligatoryDot"></ion-text>
              </ion-label>
              <ion-input [(ngModel)]="subject.section" [disabled]="!editMode"></ion-input>
            </ion-item>
          </ion-col>
        </ng-container>
        <ion-col [size]="6" *ngIf="subject.type !== SubjectTypes.COUNTRY">
          <ion-item [class.fieldHasError]="hasFieldAnError('subjects[' + index + '].country')">
            <ion-label position="stacked">
              {{ 'SUBJECTS.COUNTRY' | translate }} <ion-text class="obligatoryDot"></ion-text>
            </ion-label>
            <ion-input [(ngModel)]="subject.country" [disabled]="!editMode"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col [size]="12">
          <ion-item [class.fieldHasError]="hasFieldAnError('subjects[' + index + '].email')">
            <ion-label position="stacked">{{ 'SUBJECTS.EMAIL_FOR_NOTIFICATIONS' | translate }}</ion-label>
            <ion-input type="email" [(ngModel)]="subject.email" [disabled]="!editMode"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item *ngIf="editMode" button (click)="addSubject()">
      <i>{{ 'TOPICS.TAP_TO_ADD_SUBJECT' | translate }}</i>
    </ion-item>

    <ion-list-header>
      <ion-label><h2>{{ 'TOPICS.ATTACHMENTS' | translate }}</h2> </ion-label>
    </ion-list-header>
    <app-attachments lines="inset" [attachments]="topic.attachments" [editMode]="!!editMode"></app-attachments>

    <ion-list-header>
      <ion-label><h2>{{ 'TOPICS.OTHER_OPTIONS' | translate }}</h2></ion-label>
    </ion-list-header>
    <idea-checker
      [data]="relatedTopicsChecks"
      [label]="'TOPICS.RELATED_TOPICS' | translate"
      [noneText]="'TOPICS.NO_RELATED_TOPICS' | translate"
      [disabled]="!editMode || !relatedTopicsChecks"
    ></idea-checker>
    <idea-checker
      [data]="rolesAbleToAskQuestionsChecks"
      [label]="'TOPICS.ROLES_ALLOWED_TO_MAKE_QUESTIONS' | translate"
      [allText]="'TOPICS.NO_ROLES_RESTRICTIONS' | translate"
      [noneEqualsAll]="true"
      [disabled]="!editMode"
      (change)="setRolesAbleToAskQuestionsFromChecks()"
    ></idea-checker>

    <ion-row class="ion-padding-top" *ngIf="editMode === UXMode.EDIT">
      <ion-col>
        <ion-button color="warning" (click)="archiveTopic(!topic.archivedAt)">
          {{ (topic.archivedAt ? 'COMMON.UNARCHIVE' : 'COMMON.ARCHIVE') | translate }}
        </ion-button>
      </ion-col>
      <ion-col class="ion-text-right">
        <ion-button color="danger" (click)="deleteTopic()">{{ 'COMMON.DELETE' | translate }}</ion-button>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>
