<ion-header class="ion-no-border">
  <app-edit-mode-buttons
    [title]="getTitle()"
    [editMode]="!!editMode"
    (enter)="enterEditMode()"
    (exit)="exitEditMode()"
    (save)="save()"
  ></app-edit-mode-buttons>
</ion-header>
<ion-content [class.viewMode]="!editMode">
  <ion-list class="aList maxWidthContainer" [lines]="editMode ? 'full': 'none'" *ngIf="topic">
    <ion-list-header>
      <ion-label><h2>{{ 'TOPICS.ATTRIBUTES' | translate }}</h2> </ion-label>
    </ion-list-header>
    <ion-item [class.fieldHasError]="hasFieldAnError('name')">
      <ion-label position="stacked">
        {{ 'TOPICS.NAME' | translate }} <ion-text class="obligatoryDot"></ion-text>
      </ion-label>
      <ion-input [(ngModel)]="topic.name" [disabled]="!editMode"></ion-input>
    </ion-item>
    <app-categories-picker
      [class.fieldHasError]="hasFieldAnError('category')"
      [editMode]="!!editMode"
      [obligatory]="true"
      [(category)]="topic.category"
    ></app-categories-picker>
    <app-events-picker
      [class.fieldHasError]="hasFieldAnError('event')"
      [editMode]="!!editMode"
      [obligatory]="true"
      [(event)]="topic.event"
    ></app-events-picker>
    <ion-list-header>
      <ion-label>
        <h2>{{ 'TOPICS.PUBLISHING_OPTIONS' | translate }}</h2>
        <p>{{ 'TOPICS.DATES_IN_FAVORITE_TIMEZONE' | translate: { timezone: FAVORITE_TIMEZONE } }}</p>
      </ion-label>
    </ion-list-header>
    <ion-radio-group [(ngModel)]="publishingOption" (ionBlur)="handleChangeOfPublishingOption()">
      <ion-item *ngFor="let option of PublishingOptions | keyvalue">
        <ion-radio slot="start" [value]="option.value" [disabled]="!editMode"></ion-radio>
        <ion-label>{{ ('TOPICS.PUBLISHING_OPTIONS_.' + option.value) | translate }}</ion-label>
      </ion-item>
    </ion-radio-group>
    <idea-date-time
      *ngIf="publishingOption === PublishingOptions.SCHEDULE"
      [(date)]="topic.publishedSince"
      [useISOFormat]="true"
      [manualTimePicker]="true"
      [label]="'TOPICS.PUBLISH_ON' | translate"
      [disabled]="!editMode"
      [hideClearButton]="true"
      [class.fieldHasError]="hasFieldAnError('publishedSince')"
    ></idea-date-time>
    <ng-container *ngIf="topic.type === TopicTypes.LIVE">
      <ion-list-header>
        <ion-label class="ion-text-wrap">
          <p>{{ 'TOPICS.SHOULD_BE_LIVE_ON_I' | translate }}</p>
          <p>{{ 'TOPICS.SHOULD_BE_LIVE_ON_II' | translate }}</p>
        </ion-label>
      </ion-list-header>
      <idea-date-time
        [(date)]="topic.shouldBeLiveAt"
        [useISOFormat]="true"
        [manualTimePicker]="true"
        [label]="'TOPICS.SHOULD_BE_LIVE_ON' | translate"
        [disabled]="!editMode"
        [hideClearButton]="true"
        [class.fieldHasError]="hasFieldAnError('shouldBeLiveAt')"
      ></idea-date-time>
      <ion-list-header>
        <ion-label>
          <h2>{{ 'TOPICS.LIVE_OPTIONS' | translate }}</h2>
          <p>{{ 'TOPICS.LIVE_OPTIONS_I' | translate }}</p>
        </ion-label>
      </ion-list-header>
      <ion-item>
        <ion-checkbox slot="end" [(ngModel)]="topic.mustBeSigned" [disabled]="!editMode"></ion-checkbox>
        <ion-label class="ion-text-wrap">{{ 'TOPICS.QUESTIONS_MUST_BE_SIGNED' | translate }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox slot="end" [(ngModel)]="topic.appreciations" [disabled]="!editMode"></ion-checkbox>
        <ion-label class="ion-text-wrap">{{ 'TOPICS.ENABLE_APPRECIATIONS' | translate }}</ion-label>
      </ion-item>
    </ng-container>
    <ng-container *ngIf="topic.type === TopicTypes.STANDARD">
      <ion-list-header>
        <ion-label>
          <h2>{{ 'TOPICS.DEADLINES' | translate }}</h2>
          <p>{{ 'TOPICS.DATES_IN_FAVORITE_TIMEZONE' | translate: { timezone: FAVORITE_TIMEZONE } }}</p>
        </ion-label>
      </ion-list-header>
      <ion-item>
        <ion-checkbox
          slot="start"
          [(ngModel)]="hasDeadlineForQuestions"
          [disabled]="!editMode"
          (ionChange)="shouldResetDeadlineForQuestions()"
        ></ion-checkbox>
        <ion-label>{{ 'TOPICS.SET_DEADLINE_QUESTIONS' | translate }}</ion-label>
      </ion-item>
      <idea-date-time
        *ngIf="hasDeadlineForQuestions"
        [(date)]="topic.willCloseAt"
        [useISOFormat]="true"
        [manualTimePicker]="true"
        [label]="'TOPICS.DEADLINE_QUESTIONS' | translate"
        [disabled]="!editMode"
        [hideClearButton]="true"
        [class.fieldHasError]="hasFieldAnError('willCloseAt')"
      ></idea-date-time>
      <ion-item>
        <ion-checkbox
          slot="start"
          [(ngModel)]="hasDeadlineForAnswers"
          [disabled]="!editMode"
          (ionChange)="shouldResetDeadlineForAnswers()"
        ></ion-checkbox>
        <ion-label>{{ 'TOPICS.SET_DEADLINE_ANSWERS' | translate }}</ion-label>
      </ion-item>
      <idea-date-time
        *ngIf="hasDeadlineForAnswers"
        [(date)]="topic.acceptAnswersUntil"
        [useISOFormat]="true"
        [manualTimePicker]="true"
        [label]="'TOPICS.DEADLINE_ANSWERS' | translate"
        [disabled]="!editMode"
        [hideClearButton]="true"
        [class.fieldHasError]="hasFieldAnError('acceptAnswersUntil')"
      ></idea-date-time>
    </ng-container>
    <ion-list-header>
      <ion-label><h2>{{ 'TOPICS.CONTENT' | translate }}</h2></ion-label>
    </ion-list-header>
    <ion-item class="noElements" *ngIf="!topic.content && !editMode">
      <ion-label>{{ 'TOPICS.NO_CONTENT' | translate }}</ion-label>
    </ion-item>
    <app-html-editor
      *ngIf="topic.content || editMode"
      [(content)]="topic.content"
      [editMode]="!!editMode"
    ></app-html-editor>

    <ion-list-header [class.fieldHasError]="hasFieldAnError('subjects')">
      <ion-label><h2>{{ 'TOPICS.SUBJECTS' | translate }}</h2></ion-label>
      <ion-button *ngIf="!topic.subjects.length" (click)="addFirstSubjectWithUserData()">
        {{ 'TOPICS.FILL_WITH_ME' | translate }}
      </ion-button>
    </ion-list-header>
    <ion-grid class="ion-no-padding">
      <ion-row
        class="ion-align-items-center row"
        *ngFor="let subject of topic.subjects; let index = index; let odd = odd"
        [class.fieldHasError]="hasFieldAnError('subject')"
        [class.odd]="odd"
      >
        <ion-col *ngIf="editMode" [size]="2" [sizeSm]="1">
          <ion-button fill="clear" color="danger" size="small" (click)="removeSubject(subject)">
            <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col [size]="editMode ? 10 : 12" [sizeSm]="editMode ? 5 : 6">
          <ion-item [class.fieldHasError]="hasFieldAnError('subjects[' + index + '].type')">
            <ion-label position="stacked">
              {{ 'SUBJECTS.TYPE' | translate }} <ion-text class="obligatoryDot"></ion-text>
            </ion-label>
            <ion-select interface="popover" [(ngModel)]="subject.type" [disabled]="!editMode">
              <ion-select-option *ngFor="let type of SubjectTypes | keyvalue" [value]="type.value">
                {{ ('SUBJECTS.TYPES.' + type.value) | translate}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col [size]="12" [sizeSm]="6">
          <ion-item [class.fieldHasError]="hasFieldAnError('subjects[' + index + '].id')">
            <ion-label position="stacked">
              {{ 'SUBJECTS.ID' | translate }} <ion-text class="obligatoryDot"></ion-text>
            </ion-label>
            <ion-input [(ngModel)]="subject.id" [disabled]="!editMode"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col [size]="12">
          <ion-item [class.fieldHasError]="hasFieldAnError('subjects[' + index + '].name')">
            <ion-label position="stacked">
              {{ 'SUBJECTS.NAME' | translate }} <ion-text class="obligatoryDot"></ion-text>
            </ion-label>
            <ion-input [(ngModel)]="subject.name" [disabled]="!editMode"></ion-input>
          </ion-item>
        </ion-col>
        <ng-container *ngIf="subject.type === SubjectTypes.USER">
          <ion-col [size]="12">
            <ion-item [class.fieldHasError]="hasFieldAnError('subjects[' + index + '].avatarURL')">
              <ion-label position="stacked">{{ 'SUBJECTS.AVATAR_URL' | translate }}</ion-label>
              <ion-input [(ngModel)]="subject.avatarURL" [disabled]="!editMode"></ion-input>
              <input
                type="file"
                accept="image/*"
                style="display: none"
                [id]="'upload-image-' + index"
                (change)="uploadImageForSubject(subject, $event)"
              />
              <ion-button
                slot="end"
                fill="clear"
                color="medium"
                class="ion-margin-top"
                (click)="browseImagesForElementId('upload-image-' + index)"
              >
                <ion-icon icon="cloud-upload-outline" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-col>
          <ion-col [size]="6">
            <ion-item [class.fieldHasError]="hasFieldAnError('subjects[' + index + '].section')">
              <ion-label position="stacked">
                {{ 'SUBJECTS.SECTION' | translate }} <ion-text class="obligatoryDot"></ion-text>
              </ion-label>
              <ion-input [(ngModel)]="subject.section" [disabled]="!editMode"></ion-input>
            </ion-item>
          </ion-col>
        </ng-container>
        <ion-col [size]="6" *ngIf="subject.type !== SubjectTypes.COUNTRY">
          <ion-item [class.fieldHasError]="hasFieldAnError('subjects[' + index + '].country')">
            <ion-label position="stacked">
              {{ 'SUBJECTS.COUNTRY' | translate }} <ion-text class="obligatoryDot"></ion-text>
            </ion-label>
            <ion-input [(ngModel)]="subject.country" [disabled]="!editMode"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col [size]="12">
          <ion-item [class.fieldHasError]="hasFieldAnError('subjects[' + index + '].email')">
            <ion-label position="stacked">{{ 'SUBJECTS.EMAIL_FOR_NOTIFICATIONS' | translate }}</ion-label>
            <ion-input type="email" [(ngModel)]="subject.email" [disabled]="!editMode"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item *ngIf="editMode" button (click)="addSubject()">
      <i>{{ 'TOPICS.TAP_TO_ADD_SUBJECT' | translate }}</i>
    </ion-item>

    <ion-list-header>
      <ion-label><h2>{{ 'TOPICS.ATTACHMENTS' | translate }}</h2> </ion-label>
    </ion-list-header>
    <app-attachments lines="inset" [attachments]="topic.attachments" [editMode]="!!editMode"></app-attachments>

    <ion-list-header>
      <ion-label><h2>{{ 'TOPICS.OTHER_OPTIONS' | translate }}</h2></ion-label>
    </ion-list-header>
    <idea-checker
      [data]="relatedTopicsChecks"
      [label]="'TOPICS.RELATED_TOPICS' | translate"
      [noneText]="'TOPICS.NO_RELATED_TOPICS' | translate"
      [disabled]="!editMode || !relatedTopicsChecks"
      [showCategoriesFilters]="true"
    ></idea-checker>
    <idea-checker
      [data]="rolesAbleToInteractChecks"
      [label]="'TOPICS.ROLES_ALLOWED_TO_MAKE_QUESTIONS' | translate"
      [allText]="'TOPICS.NO_ROLES_RESTRICTIONS' | translate"
      [noneEqualsAll]="true"
      [disabled]="!editMode"
      (change)="setRolesAbleToInteractFromChecks()"
    ></idea-checker>

    <p class="ion-text-center" *ngIf="!editMode && !topic.isArchived()">
      <ion-button [color]="topic.closedAt ? 'ESNgreen': 'ESNpink'" (click)="manageTopicStatus(!!topic.closedAt)">
        {{ (topic.closedAt ? 'TOPICS.OPEN_TOPIC' : 'TOPICS.CLOSE_TOPIC') | translate }}
      </ion-button>
    </p>
    <ion-row class="ion-padding-top" *ngIf="editMode === UXMode.EDIT">
      <ion-col>
        <ion-button color="warning" (click)="archiveTopic(!topic.isArchived())">
          {{ (topic.isArchived() ? 'COMMON.UNARCHIVE' : 'COMMON.ARCHIVE') | translate }}
        </ion-button>
      </ion-col>
      <ion-col class="ion-text-right">
        <ion-button color="danger" (click)="deleteTopic()">{{ 'COMMON.DELETE' | translate }}</ion-button>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>
