<ion-header class="ion-no-border" *ngIf="app.isInMobileMode()">
  <ion-toolbar color="ideaToolbar">
    <ion-buttons slot="start">
      <ion-button (click)="currentQuestion ? selectQuestion(null) : app.goToInTabs(['topics'], { back: true })">
        <ion-icon slot="icon-only" icon="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ app.configurations.appTitle }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" *ngIf="app.isInMobileMode()" (ionRefresh)="handleRefresh($event?.target)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col [size]="12" [sizeLg]="6" *ngIf="!app.isInMobileMode() || !currentQuestion">
        <ion-card color="white" class="topicCard" *ngIf="topic">
          <ion-card-header>
            <ion-card-subtitle>{{ topic.event.name }}</ion-card-subtitle>
            <ion-card-title>{{ topic.name }}</ion-card-title>
            <p class="badges">
              <ion-badge [color]="topic.category.color">{{ topic.category.name }}</ion-badge>
              <ion-badge *ngIf="topic.isDraft()" color="medium">{{ 'TOPICS.DRAFT' | translate }}</ion-badge>
              <ion-badge *ngIf="!topic.isDraft()" [color]="topic.closedAt ? 'danger' : 'success'">
                {{ 'TOPICS.STATUSES.' + (topic.closedAt ? 'CLOSED' : 'OPEN') | translate }}
              </ion-badge>
              <ion-badge color="warning" *ngIf="topic.isArchived()">{{ 'COMMON.ARCHIVED' | translate }}</ion-badge>
            </p>
          </ion-card-header>
          <ion-card-content>
            <ion-list class="aList" lines="none">
              <app-subject
                color="white"
                *ngFor="let subject of topic.subjects"
                [subject]="subject"
                [class.single]="topic.subjects?.length === 1"
              ></app-subject>
              <ion-row class="ion-margin-top" *ngIf="!topic.isArchived()">
                <ion-col *ngIf="topic.willCloseAt">
                  <ion-item class="ion-text-right importantDate">
                    <ion-label>
                      <p>{{ 'TOPICS.QUESTIONS_UNTIL' | translate }}</p>
                      {{ topic.willCloseAt | dateTz: 'datetime' }}
                      <p>{{ app.configurations.timezone }}</p>
                    </ion-label>
                    <ion-icon icon="hourglass-outline" slot="end" size="small"></ion-icon>
                  </ion-item>
                </ion-col>
                <ion-col *ngIf="topic.acceptAnswersUntil && !isPast(topic.acceptAnswersUntil)">
                  <ion-item class="ion-text-right importantDate">
                    <ion-label>
                      <p>{{ 'TOPICS.ANSWERS_UNTIL' | translate }}</p>
                      {{ topic.acceptAnswersUntil | dateTz: 'datetime' }}
                      <p>{{ app.configurations.timezone }}</p>
                    </ion-label>
                    <ion-icon icon="hourglass-outline" slot="end" size="small"></ion-icon>
                  </ion-item>
                </ion-col>
              </ion-row>
              <app-html-editor *ngIf="topic.content" [content]="topic.content" [editMode]="false"></app-html-editor>
              <ion-item
                lines="inset"
                class="attachment"
                *ngFor="let attachment of topic.attachments; let first = first"
                [class.ion-margin-top]="first"
                button
                (click)="downloadAttachment(attachment)"
              >
                <ion-icon name="attach" slot="start" />
                <ion-label class="ion-text-wrap">{{ attachment.name }}</ion-label>
                <ion-note slot="end">.{{ attachment.format }}</ion-note>
              </ion-item>
              <ion-item
                lines="inset"
                *ngFor="let related of relatedTopics; let first = first"
                [class.ion-margin-top]="first"
                button
                (click)="openTopic(related)"
              >
                <ion-label>
                  <p>{{ 'TOPICS.RELATED_TO' | translate }}</p>
                  {{ related.name }}
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
        <ng-container *ngIf="topic && !newQuestion">
          <ion-list class="aList" *ngIf="drafts?.length">
            <ion-list-header>
              <ion-label>
                <h2>{{ 'DRAFTS.YOUR_DRAFTS' | translate }}</h2>
              </ion-label>
            </ion-list-header>
            <ion-item *ngFor="let draft of drafts">
              <ion-label>
                <i>{{ draft.summary }}</i>
              </ion-label>
              <ion-button
                slot="end"
                fill="clear"
                color="danger"
                [title]="'DRAFTS.DELETE_DRAFT' | translate"
                (click)="deleteDraft(draft)"
              >
                <ion-icon icon="trash" slot="icon-only" size="small"></ion-icon>
              </ion-button>
              <ion-button slot="end" fill="clear" (click)="startNewQuestion(draft)">
                {{ 'DRAFTS.RESUME' | translate }}
              </ion-button>
            </ion-item>
          </ion-list>
          <ion-list class="aList">
            <ion-list-header>
              <ion-label>
                <h2>
                  {{ 'TOPICS.QUESTIONS' | translate }}
                  <ion-text *ngIf="questions?.length">({{ questions.length }})</ion-text>
                </h2>
              </ion-label>
              <ion-button size="small" color="medium" (click)="filterQuestions(searchbar?.value, null, true)">
                <ion-icon name="refresh" slot="icon-only"></ion-icon>
              </ion-button>
              <ion-button
                fill="solid"
                size="small"
                *ngIf="!topic.closedAt && topic.canUserInteract(app.user)"
                (click)="startNewQuestion()"
              >
                {{ 'TOPICS.MAKE_A_QUESTION' | translate }}
              </ion-button>
            </ion-list-header>
            <ion-searchbar #searchbar (ionInput)="filterQuestions($event.target.value)"></ion-searchbar>
            <ion-item lines="full" class="ion-text-center noElements" *ngIf="questions && !questions.length">
              <ion-label>{{ 'TOPICS.NO_QUESTIONS_ASKED_YET' | translate }}</ion-label>
            </ion-item>
            <app-question-summary *ngIf="!questions"></app-question-summary>
            <app-question-summary
              *ngFor="let question of questions"
              [question]="question"
              [current]="currentQuestion === question"
              (select)="selectQuestion(question)"
            ></app-question-summary>
            <ion-infinite-scroll (ionInfinite)="filterQuestions(searchbar.value, $event.target)">
              <ion-infinite-scroll-content></ion-infinite-scroll-content>
            </ion-infinite-scroll>
          </ion-list>
        </ng-container>
      </ion-col>
      <ion-col [size]="12" [sizeLg]="6" *ngIf="currentQuestion">
        <p *ngIf="!app.isInMobileMode()">
          <ion-button color="medium" fill="clear" (click)="selectQuestion(null)">
            <ion-icon slot="start" name="close"></ion-icon> {{ 'COMMON.CLOSE' | translate }}
          </ion-button>
        </p>
        <app-question
          [topic]="topic"
          [question]="currentQuestion"
          (delete)="removeCurrentQuestionFromList()"
        ></app-question>
      </ion-col>
      <ion-col [size]="12" [sizeLg]="6" *ngIf="newQuestion">
        <ion-list id="newQuestion" class="aList" [class.ion-padding]="!app.isInMobileMode()">
          <ion-list-header [class.fieldHasError]="hasFieldAnError('summary')">
            <ion-label>
              <h2>{{ 'QUESTIONS.SUMMARY_I' | translate }}</h2>
              <p>{{ 'QUESTIONS.SUMMARY_II' | translate }}</p>
            </ion-label>
          </ion-list-header>
          <ion-item>
            <ion-input
              [placeholder]="'QUESTIONS.SUMMARY_PLACEHOLDER' | translate"
              [(ngModel)]="newQuestion.summary"
            ></ion-input>
          </ion-item>
          <ion-list-header [class.fieldHasError]="hasFieldAnError('text')">
            <ion-label>
              <h2>{{ 'QUESTIONS.CONTENT_I' | translate }}</h2>
              <p>{{ 'QUESTIONS.CONTENT_II' | translate }}</p>
            </ion-label>
          </ion-list-header>
          <app-html-editor [(content)]="newQuestion.text" [editMode]="true"></app-html-editor>
          <ion-row class="ion-margin">
            <ion-col>
              <ion-button fill="clear" color="dark" (click)="cancelNewQuestion()">
                {{ 'COMMON.CANCEL' | translate }} <ion-icon icon="close" slot="start"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col class="ion-text-right">
              <ion-button fill="clear" (click)="saveNewQuestionAsDraft()">
                {{ 'DRAFTS.SAVE_AS_DRAFT' | translate }}
              </ion-button>
              <ion-button (click)="sendNewQuestion()">
                {{ 'COMMON.SEND' | translate }} <ion-icon icon="send" slot="end"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-fab slot="fixed" vertical="bottom" horizontal="end" *ngIf="app.user.isAdministrator">
  <ion-fab-button color="ESNgreen" size="small" [title]="'COMMON.MANAGE' | translate" (click)="manageTopic()">
    <ion-icon icon="build"></ion-icon>
  </ion-fab-button>
</ion-fab>
