ion-card {
  ion-card-header {
    padding-bottom: 0;
  }
  ion-card-content {
    p.description {
      margin: 16px 2px;
      padding: 20px 16px;
      background-color: var(--ion-color-white-tint);
      box-shadow: rgba(9, 30, 66, 0.15) 0px 1px 1px, rgba(9, 30, 66, 0.1) 0px 0px 1px 1px;
      border-radius: 8px;
      color: var(--ion-color-step-800);
      white-space: pre-line;
    }
  }
  @media screen and (max-width: 991px) {
    margin: 0;
    width: 100%;
    box-shadow: none;
  }
}

ion-list.aList {
  ion-list-header ion-label h2 {
    margin-bottom: 0;
  }
}
