<ion-header class="ion-no-border">
  <ion-toolbar color="ideaToolbar" *ngIf="app.isInMobileMode()">
    <ion-buttons slot="start">
      <ion-img [src]="app.getIcon(true)"></ion-img>
    </ion-buttons>
    <ion-title>{{ 'TABS.TOPICS' | translate }}</ion-title>
  </ion-toolbar>
  <ion-toolbar class="filtersBar" color="ideaToolbar">
    <ion-button slot="start" fill="solid" color="ESNorange" *ngIf="app.user.isAdministrator && selectedList.size > 0" (click)="actionOnSelected()">
      <ion-icon icon="cog" slot="icon-only" color="light"></ion-icon>
    </ion-button>
  <ion-searchbar
      #searchbar
      [placeholder]="'TOPICS.FILTER_ACTIVE_TOPICS' | translate"
      (ionInput)="filter($event.target.value)"
    ></ion-searchbar>
    <ion-buttons slot="end">
      <ion-item lines="none" color="ideaToolbar" class="ion-hide-lg-down">
        <ion-select
          interface="popover"
          [(ngModel)]="filterByCategory"
          [disabled]="!categories"
          (ionChange)="filter(searchbar.value)"
        >
          <ion-select-option [value]="null">{{ 'TOPICS.ALL_CATEGORIES' | translate }}</ion-select-option>
          <ion-select-option *ngFor="let category of categories" [value]="category.categoryId">
            {{ category.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="none" color="ideaToolbar" class="ion-hide-lg-down">
        <ion-select
          interface="popover"
          [(ngModel)]="filterByEvent"
          [disabled]="!events"
          (ionChange)="filter(searchbar.value)"
        >
          <ion-select-option [value]="null">{{ 'TOPICS.ALL_EVENTS' | translate }}</ion-select-option>
          <ion-select-option *ngFor="let event of events" [value]="event.eventId">{{ event.name }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="none" color="ideaToolbar" class="ion-hide-lg-down">
        <ion-select interface="popover" [(ngModel)]="filterByStatus" (ionChange)="filter(searchbar.value)">
          <ion-select-option [value]="null">{{ 'TOPICS.ALL_STATUSES' | translate }}</ion-select-option>
          <ion-select-option [value]="Statuses.DRAFT" *ngIf="app.user.isAdministrator">
            {{ 'TOPICS.STATUSES.DRAFT' | translate }}
          </ion-select-option>
          <ion-select-option [value]="Statuses.OPEN">{{ 'TOPICS.STATUSES.OPEN' | translate }}</ion-select-option>
          <ion-select-option [value]="Statuses.CLOSED">{{ 'TOPICS.STATUSES.CLOSED' | translate }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="none" color="ideaToolbar" class="ion-hide-xl-down">
        <ion-select interface="popover" [(ngModel)]="filterByType" (ionChange)="filter(searchbar.value)">
          <ion-select-option [value]="null">{{ 'TOPICS.ALL_TYPES' | translate }}</ion-select-option>
          <ion-select-option [value]="TopicTypes.STANDARD">{{ 'TOPICS.TYPES.STANDARD' | translate }}</ion-select-option>
          <ion-select-option [value]="TopicTypes.LIVE">{{ 'TOPICS.TYPES.LIVE' | translate }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="none" color="ideaToolbar" class="ion-hide-md-down">
        <ion-select interface="popover" [(ngModel)]="sortBy" (ionChange)="filter(searchbar.value)">
          <ion-select-option *ngFor="let sortBy of TopicsSortBy | keyvalue" [value]="sortBy.key">
            {{ 'TOPICS.SORT_BY' | translate }} {{ ('TOPICS.SORT_BY_OPTIONS.' + sortBy.key) | translate | lowercase }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button fill="solid" color="ESNpink" (click)="app.goToInTabs(['topics', 'archive'])">
        <ion-icon icon="archive-outline" slot="icon-only" *ngIf="app.isInMobileMode()"></ion-icon>
        <ion-text *ngIf="!app.isInMobileMode()">{{ 'ARCHIVE.ARCHIVE' | translate }}</ion-text>
      </ion-button>
      <ion-button fill="solid" color="ESNgreen" *ngIf="app.user.isAdministrator" (click)="addTopic()">
        <ion-icon icon="add" slot="icon-only"></ion-icon>
      </ion-button>
      <app-statistics-button
        class="ion-hide-sm-down"
        *ngIf="app.user.isAdministrator"
        [entityType]="SET.TOPICS"
        [title]="'TABS.TOPICS' | translate"
        [color]="app.isInDarkMode() ? 'dark' : 'white'"
      />
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" *ngIf="app.isInMobileMode()" (ionRefresh)="handleRefresh($event?.target)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list class="aList">
    <ion-item lines="full" class="ion-text-center noElements" *ngIf="topics && !topics.length">
      <ion-label>{{ 'TOPICS.NO_ACTIVE_TOPICS' | translate }}</ion-label>
    </ion-item>
    <ng-container *ngIf="app.isInMobileMode()">
      <app-topic *ngIf="!topics"></app-topic>
      <app-topic *ngFor="let topic of topics" [topic]="topic" (select)="openTopic(topic)" (checkboxChange)="handleSelection($event,topic)"></app-topic>
    </ng-container>
    <ion-grid *ngIf="!app.isInMobileMode()">
      <app-topic *ngIf="!topics" [row]="true"></app-topic>
      <app-topic *ngIf="topics?.length" [row]="true" [header]="true"></app-topic>
      <app-topic *ngFor="let topic of topics" [topic]="topic" [row]="true" (select)="openTopic(topic)" (checkboxChange)="handleSelection($event,topic)"></app-topic>
    </ion-grid>
    <ion-infinite-scroll (ionInfinite)="filter(searchbar.value, $event.target)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>
</ion-content>
