<ion-header class="ion-no-border">
  <app-edit-mode-buttons
    [title]="'OPPORTUNITIES.MANAGE_OPPORTUNITY' | translate"
    [editMode]="!!editMode"
    (enter)="enterEditMode()"
    (exit)="exitEditMode()"
    (save)="save()"
  ></app-edit-mode-buttons>
</ion-header>
<ion-content [class.viewMode]="!editMode">
  <ion-list class="aList maxWidthContainer" [lines]="editMode ? 'full': 'none'" *ngIf="opportunity">
    <p class="ion-text-end" *ngIf="!editMode && !opportunity.isArchived() && !opportunity.isDraft()">
      <ion-button
        [color]="opportunity.closedAt ? 'ESNgreen': 'ESNpink'"
        (click)="manageOpportunityStatus(!!opportunity.closedAt)"
      >
        {{ (opportunity.closedAt ? 'OPPORTUNITIES.OPEN_OPPORTUNITY' : 'OPPORTUNITIES.CLOSE_OPPORTUNITY') | translate }}
      </ion-button>
    </p>
    <ion-list-header>
      <ion-label><h2>{{ 'OPPORTUNITIES.ATTRIBUTES' | translate }}</h2> </ion-label>
    </ion-list-header>
    <ion-item [class.fieldHasError]="hasFieldAnError('name')">
      <ion-label position="stacked">
        {{ 'OPPORTUNITIES.NAME' | translate }} <ion-text class="obligatoryDot"></ion-text>
      </ion-label>
      <ion-input [(ngModel)]="opportunity.name" [disabled]="!editMode"></ion-input>
    </ion-item>
    <ion-list-header>
      <ion-label>
        <h2>{{ 'OPPORTUNITIES.PUBLISHING_OPTIONS' | translate }}</h2>
        <p>{{ 'OPPORTUNITIES.DATES_IN_DEFAULT_TIMEZONE' | translate: { timezone: app.configurations.timezone} }}</p>
      </ion-label>
    </ion-list-header>
    <ion-radio-group [(ngModel)]="publishingOption" (ionBlur)="handleChangeOfPublishingOption()">
      <ion-item *ngFor="let option of PublishingOptions | keyvalue">
        <ion-radio slot="start" [value]="option.value" [disabled]="!editMode"></ion-radio>
        <ion-label>{{ ('OPPORTUNITIES.PUBLISHING_OPTIONS_.' + option.value) | translate }}</ion-label>
      </ion-item>
    </ion-radio-group>
    <app-datetime-timezone
      *ngIf="publishingOption === PublishingOptions.SCHEDULE"
      [label]="'OPPORTUNITIES.PUBLISH_ON' | translate"
      [disabled]="!editMode"
      [class.fieldHasError]="hasFieldAnError('publishedSince')"
      [(date)]="opportunity.publishedSince"
    />
    <ion-list-header>
      <ion-label>
        <h2>{{ 'OPPORTUNITIES.DEADLINES' | translate }}</h2>
        <p>{{ 'OPPORTUNITIES.DATES_IN_DEFAULT_TIMEZONE' | translate: { timezone: app.configurations.timezone} }}</p>
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-checkbox
        slot="start"
        [(ngModel)]="hasDeadline"
        [disabled]="!editMode"
        (ionChange)="shouldResetDeadlineForApplications()"
      ></ion-checkbox>
      <ion-label>{{ 'OPPORTUNITIES.SET_DEADLINE_APPLICATIONS' | translate }}</ion-label>
    </ion-item>
    <app-datetime-timezone
      *ngIf="hasDeadline"
      [label]="'OPPORTUNITIES.DEADLINE_APPLICATIONS' | translate"
      [disabled]="!editMode"
      [class.fieldHasError]="hasFieldAnError('willCloseAt')"
      [(date)]="opportunity.willCloseAt"
    />
    <ion-list-header>
      <ion-label><h2>{{ 'OPPORTUNITIES.CONTENT' | translate }}</h2></ion-label>
    </ion-list-header>
    <ion-item class="noElements" *ngIf="!opportunity.content && !editMode">
      <ion-label>{{ 'OPPORTUNITIES.NO_CONTENT' | translate }}</ion-label>
    </ion-item>
    <app-html-editor
      *ngIf="opportunity.content || editMode"
      [(content)]="opportunity.content"
      [editMode]="!!editMode"
    ></app-html-editor>

    <ion-list-header>
      <ion-label>
        <h2>{{ 'OPPORTUNITIES.ATTACHMENTS' | translate }}</h2>
        <p>{{ 'OPPORTUNITIES.ATTACHMENTS_I' | translate }}</p>
      </ion-label>
    </ion-list-header>
    <app-attachments lines="inset" [attachments]="opportunity.attachments" [editMode]="!!editMode"></app-attachments>

    <ion-list-header>
      <ion-label>
        <h2>{{ 'OPPORTUNITIES.EXPECTED_ATTACHMENTS' | translate }}</h2>
        <p>{{ 'OPPORTUNITIES.EXPECTED_ATTACHMENTS_I' | translate }}</p>
      </ion-label>
      <ion-button *ngIf="editMode" (click)="addExpectedAttachment()">{{ 'COMMON.ADD' | translate }}</ion-button>
    </ion-list-header>
    <ion-item class="noElements" *ngIf="!opportunity.expectedAttachments.length">
      <ion-label>{{ 'ATTACHMENTS.NO_ATTACHMENTS' | translate }}</ion-label>
    </ion-item>
    <ion-reorder-group [disabled]="!editMode" (ionItemReorder)="reorderExpectedAttachments($event)">
      <ion-item *ngFor="let att of opportunity.expectedAttachments">
        <ion-reorder slot="start" *ngIf="editMode"></ion-reorder>
        <ion-label>{{ att.name }}</ion-label>
        <ion-button
          slot="end"
          fill="clear"
          [disabled]="!editMode"
          [color]="att.required ? 'danger': 'dark'"
          (click)="att.required = !att.required"
        >
          {{ (att.required ? 'OPPORTUNITIES.REQUIRED' : 'OPPORTUNITIES.OPTIONAL') | translate }}
        </ion-button>
        <ion-button slot="end" fill="clear" color="danger" *ngIf="editMode" (click)="removeExpectedAttachment(att)">
          <ion-icon icon="trash" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-reorder-group>

    <ion-list-header>
      <ion-label>
        <h2>{{ 'OPPORTUNITIES.OTHER_OPTIONS' | translate }}</h2>
      </ion-label>
    </ion-list-header>
    <ion-item [class.fieldHasError]="hasFieldAnError('contactEmail')">
      <ion-label position="stacked">{{ 'OPPORTUNITIES.CONTACT_EMAIL' | translate }}</ion-label>
      <ion-input [(ngModel)]="opportunity.contactEmail" [disabled]="!editMode"></ion-input>
      <ion-button
        slot="end"
        fill="clear"
        class="ion-margin-top"
        *ngIf="editMode"
        (click)="opportunity.contactEmail = app.user.email"
      >
        {{ 'OPPORTUNITIES.USE_MINE' | translate }}
      </ion-button>
    </ion-item>

    <ion-list-header>
      <ion-label>
        <h2>{{ 'OPPORTUNITIES.ADDITIONAL_MANAGERS' | translate }}</h2>
        <p>{{ 'OPPORTUNITIES.ADDITIONAL_MANAGERS_I' | translate }}</p>
        <p>{{ 'OPPORTUNITIES.ADDITIONAL_MANAGERS_II' | translate }}</p>
      </ion-label>
      <ion-button *ngIf="editMode" (click)="addOpportunityManager()">{{ 'COMMON.ADD' | translate }}</ion-button>
    </ion-list-header>
    <ion-item class="noElements" *ngIf="!opportunity.additionalManagersIds.length">
      <ion-label class="ion-text-wrap">{{ 'OPPORTUNITIES.NO_ADDITIONA_MANAGERS' | translate }}</ion-label>
    </ion-item>
    <ion-item *ngFor="let managerId of opportunity.additionalManagersIds">
      <ion-label>{{ managerId }}</ion-label>
      <ion-button fill="clear" color="medium" slot="end" (click)="app.openUserProfileById(managerId)">
        <ion-icon icon="open-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button
        fill="clear"
        color="danger"
        slot="end"
        *ngIf="editMode"
        (click)="removeOpportunityManagerById(managerId)"
      >
        <ion-icon icon="trash-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-row class="ion-padding-top ion-margin-top" *ngIf="editMode === UXMode.VIEW">
      <ion-col *ngIf="app.user.isAdministrator || app.user.canManageOpportunities">
        <ion-button color="medium" (click)="duplicateOpportunity()">{{ 'COMMON.DUPLICATE' | translate }}</ion-button>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-button color="warning" (click)="archiveOpportunity(!opportunity.isArchived())">
          {{ (opportunity.isArchived() ? 'COMMON.UNARCHIVE' : 'COMMON.ARCHIVE') | translate }}
        </ion-button>
      </ion-col>
      <ion-col class="ion-text-right">
        <ion-button color="danger" (click)="deleteOpportunity()">{{ 'COMMON.DELETE' | translate }}</ion-button>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>
