ion-card.opportunityCard {
  margin-bottom: 16px;
  @media screen and (max-width: 991px) {
    margin: 0 0 16px 0;
    width: 100%;
    box-shadow: none;
  }

  ion-card-header {
    ion-card-title {
      margin-top: 6px;
    }

    p.badges {
      margin-bottom: 0;
      ion-badge {
        margin-right: 6px;
      }
    }
  }

  ion-list.aList {
    padding-top: 0;
    ion-list-header ion-label h2 {
      margin-bottom: 0;
    }
    app-subject.single {
      --app-subject-avatar-size: 100px;
    }
    ion-item.importantDate {
      ion-label {
        font-size: 0.9em;
        font-weight: 500;
        p {
          font-size: 0.8em;
          font-weight: 500;
        }
        p:nth-of-type(2) {
          font-weight: 300;
        }
      }
    }
    ion-item.attachment {
      font-size: 1.1em;
      ion-icon[slot='start'] {
        margin-right: 16px;
      }
    }
  }
}

ion-card.writingApplicationCard {
  ion-item[color='white'] {
    border-radius: 4px;
  }
}
