app-html-editor {
  --app-html-editor-margin: 16px 2px;
  --app-html-editor-padding: 20px 16px;
  --app-html-editor-background-color: var(--ion-color-white-tint);
  --app-html-editor-box-shadow: rgba(9, 30, 66, 0.15) 0px 1px 1px, rgba(9, 30, 66, 0.1) 0px 0px 1px 1px;
  --app-html-editor-border-radius: 8px;
  --app-html-editor-color: var(--ion-color-step-800);
}

ion-card.opportunityCard {
  @media screen and (max-width: 991px) {
    margin: 0;
    width: 100%;
    box-shadow: none;
  }

  ion-card-header {
    ion-card-title {
      margin-top: 6px;
    }

    p.badges {
      margin-bottom: 0;
      ion-badge {
        margin-right: 6px;
      }
    }
  }

  ion-list.aList {
    padding-top: 0;
    ion-list-header ion-label h2 {
      margin-bottom: 0;
    }
    app-subject.single {
      --app-subject-avatar-size: 100px;
    }
    ion-item.importantDate {
      ion-label {
        font-size: 0.9em;
        font-weight: 500;
        p {
          font-size: 0.8em;
          font-weight: 500;
        }
        p:nth-of-type(2) {
          font-weight: 300;
        }
      }
    }
    ion-item.attachment {
      font-size: 1.1em;
      ion-icon[slot='start'] {
        margin-right: 16px;
      }
    }
  }
}

ion-card.applicationCard {
  ion-item[color='white'] {
    border-radius: 4px;
  }
}
