<ion-header class="ion-no-border">
  <app-edit-mode-buttons
    [title]="'VOTING.MANAGE_SESSION' | translate"
    [editMode]="!!editMode && !votingSession?.startsAt"
    (enter)="enterEditMode()"
    (exit)="exitEditMode()"
    (save)="save()"
  />
  <ion-toolbar color="ideaToolbar">
    <ion-segment scrollable="true" [(ngModel)]="pageSection" (ionChange)="handleChangePageSection()">
      <ion-segment-button [value]="PageSections.GENERAL">
        <ion-label>{{ 'VOTING.GENERAL' | translate }}</ion-label>
      </ion-segment-button>
      <ion-segment-button [value]="PageSections.BALLOTS">
        <ion-label>
          {{ 'VOTING.BALLOTS' | translate }}
          <ion-text class="smaller" *ngIf="votingSession?.ballots.length">
            ({{ votingSession.ballots.length }})
          </ion-text>
        </ion-label>
      </ion-segment-button>
      <ion-segment-button [value]="PageSections.VOTERS">
        <ion-label>
          {{ 'VOTING.VOTERS' | translate }}
          <ion-text class="smaller" *ngIf="votingSession?.voters.length">
            ({{ votingSession.voters.length }})
          </ion-text>
        </ion-label>
      </ion-segment-button>
      <ion-segment-button *ngIf="!editMode" [value]="PageSections.START">
        <ion-label>{{ 'VOTING.START' | translate }}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content [class.viewMode]="!editMode">
  <ng-container *ngIf="votingSession">
    <ion-list
      class="aList maxWidthContainer"
      *ngIf="pageSection === PageSections.GENERAL"
      [lines]="editMode ? 'full': 'none'"
    >
      <ion-list-header>
        <ion-label><h2>{{ 'VOTING.ATTRIBUTES' | translate }}</h2> </ion-label>
      </ion-list-header>
      <ion-item [class.fieldHasError]="hasFieldAnError('name')">
        <ion-label position="stacked">
          {{ 'VOTING.NAME' | translate }} <ion-text class="obligatoryDot"></ion-text>
        </ion-label>
        <ion-input [(ngModel)]="votingSession.name" [disabled]="!editMode"></ion-input>
      </ion-item>
      <app-events-picker
        [class.fieldHasError]="hasFieldAnError('event')"
        [editMode]="!!editMode"
        [obligatory]="true"
        [(event)]="votingSession.event"
      ></app-events-picker>
      <ion-item [class.fieldHasError]="hasFieldAnError('isSecret')">
        <ion-checkbox slot="end" [(ngModel)]="votingSession.isSecret" [disabled]="!editMode" />
        <ion-label>{{ 'VOTING.IS_SECRET' | translate }}</ion-label>
      </ion-item>
      <ion-item [class.fieldHasError]="hasFieldAnError('isWeighted')">
        <ion-checkbox
          slot="end"
          [(ngModel)]="votingSession.isWeighted"
          [disabled]="!editMode || votingSession.sessionId"
        />
        <ion-label>
          {{ 'VOTING.IS_WEIGHTED' | translate }}
          <p>{{ 'VOTING.CANT_CHANGE_SETTING_AFTER_CREATION' | translate }}</p>
        </ion-label>
      </ion-item>
      <ion-list-header>
        <ion-label>
          <h2>{{ 'VOTING.PUBLISHING_OPTIONS' | translate }}</h2>
          <p>{{ 'VOTING.PUBLISHING_OPTIONS_I' | translate }}</p>
          <p>{{ 'VOTING.DATES_IN_FAVORITE_TIMEZONE' | translate: { timezone: app.configurations.timezone } }}</p>
        </ion-label>
      </ion-list-header>
      <ion-radio-group [(ngModel)]="publishingOption" (ionBlur)="handleChangeOfPublishingOption()">
        <ion-item *ngFor="let option of PublishingOptions | keyvalue">
          <ion-radio slot="start" [value]="option.value" [disabled]="!editMode"></ion-radio>
          <ion-label>{{ ('VOTING.PUBLISHING_OPTIONS_.' + option.value) | translate }}</ion-label>
        </ion-item>
      </ion-radio-group>
      <app-datetime-timezone
        *ngIf="publishingOption === PublishingOptions.SCHEDULE"
        [(date)]="votingSession.publishedSince"
        [label]="'VOTING.PUBLISH_ON' | translate"
        [disabled]="!editMode"
        [class.fieldHasError]="hasFieldAnError('publishedSince')"
      />
      <ion-list-header [class.fieldHasError]="hasFieldAnError('scrutineersIds')">
        <ion-label>
          <h2>{{ 'VOTING.SCRUTINEERS' | translate }}</h2>
          <p>{{ 'VOTING.SCRUTINEERS_I' | translate }}</p>
          <p>{{ 'VOTING.SCRUTINEERS_II' | translate }}</p>
        </ion-label>
        <ion-button *ngIf="editMode" (click)="addScrutineer()">{{ 'COMMON.ADD' | translate }}</ion-button>
      </ion-list-header>
      <ion-item class="noElements" *ngIf="!votingSession.scrutineersIds.length">
        <ion-label class="ion-text-wrap">{{ 'VOTING.NO_SCRUTINEERS_SELECTED' | translate }}</ion-label>
      </ion-item>
      <ion-item *ngFor="let scrutineerId of votingSession.scrutineersIds">
        <ion-label>{{ scrutineerId }}</ion-label>
        <ion-button fill="clear" color="medium" slot="end" (click)="app.openUserProfileById(scrutineerId)">
          <ion-icon icon="open-outline" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button
          fill="clear"
          color="danger"
          slot="end"
          *ngIf="editMode"
          (click)="removeScrutineerById(scrutineerId)"
        >
          <ion-icon icon="trash-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-list-header>
        <ion-label><h2>{{ 'VOTING.DESCRIPTION' | translate }}</h2></ion-label>
      </ion-list-header>
      <ion-item class="noElements" *ngIf="!votingSession.description && !editMode">
        <ion-label>{{ 'VOTING.NO_DESCRIPTION' | translate }}</ion-label>
      </ion-item>
      <app-html-editor
        *ngIf="votingSession.description || editMode"
        [(content)]="votingSession.description"
        [editMode]="!!editMode"
      ></app-html-editor>

      <ion-row class="ion-padding-top ion-margin-top" *ngIf="editMode === UXMode.VIEW">
        <ion-col>
          <ion-button color="medium" (click)="duplicateSession()">{{ 'COMMON.DUPLICATE' | translate }}</ion-button>
        </ion-col>
        <ion-col class="ion-text-center">
          <ion-button color="warning" (click)="archiveSession(!votingSession.isArchived())">
            {{ (votingSession.isArchived() ? 'COMMON.UNARCHIVE' : 'COMMON.ARCHIVE') | translate }}
          </ion-button>
        </ion-col>
        <ion-col class="ion-text-right">
          <ion-button color="danger" (click)="deleteSession()">{{ 'COMMON.DELETE' | translate }}</ion-button>
        </ion-col>
      </ion-row>
    </ion-list>
    <div class="maxWidthContainer ion-padding-top" *ngIf="pageSection === PageSections.BALLOTS">
      <p class="ion-text-end ion-margin-end" *ngIf="editMode">
        <ion-button fill="clear" (click)="addBallot()">{{ 'VOTING.ADD_BALLOT' | translate }}</ion-button>
      </p>
      <ion-item class="noElements" *ngIf="!votingSession.ballots.length">
        <ion-label class="ion-text-wrap">{{ 'VOTING.NO_BALLOTS_YET' | translate }}</ion-label>
      </ion-item>
      <ion-reorder-group [disabled]="!editMode" (ionItemReorder)="handleBallotReorder($event)">
        <ion-card class="ballotCard" *ngFor="let ballot of votingSession.ballots; let bIndex = index">
          <ion-card-header>
            <ion-item lines="none" style="--min-height: none" *ngIf="editMode">
              <ion-button slot="end" fill="clear" color="danger" (click)="removeBallot(ballot)">
                <ion-icon icon="trash-outline" slot="icon-only" />
              </ion-button>
              <ion-button slot="end" fill="clear" (click)="manageBallot(ballot)">
                <ion-icon icon="pencil" slot="icon-only" />
              </ion-button>
              <ion-reorder slot="end" />
            </ion-item>
            <ion-card-title>{{ ballot.text }}</ion-card-title>
            <ion-card-subtitle class="tappable" [id]="'majorityTypeInfo-' + bIndex">
              {{ 'VOTING.MAJORITY_TYPES.' + ballot.majorityType | translate }} <ion-icon icon="information" />
            </ion-card-subtitle>
            <ion-popover [trigger]="'majorityTypeInfo-' + bIndex" triggerAction="click">
              <ng-template>
                <ion-content class="ion-padding">
                  {{ 'VOTING.MAJORITY_TYPES.' + ballot.majorityType + '_I' | translate }}
                </ion-content>
              </ng-template>
            </ion-popover>
          </ion-card-header>
          <ion-card-content>
            <ion-item lines="none" *ngFor="let option of ballot.options; let index = index">
              <ion-badge slot="start" color="light">{{ index + 1 }}</ion-badge>
              <ion-label class="ion-text-wrap">{{ option }}</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-reorder-group>
    </div>
    <ng-container *ngIf="pageSection === PageSections.VOTERS">
      <ion-toolbar id="votersTableToolbar" color="ideaToolbar">
        <ion-searchbar #votersSearchbar (ionInput)="filter($event.target.value)" />
        <ion-buttons slot="end" *ngIf="editMode">
          <ion-button (click)="addVoter()">{{ 'COMMON.ADD' | translate }}</ion-button>
          <ion-button (click)="actionsOnVoters()"><ion-icon icon="ellipsis-horizontal" slot="icon-only" /></ion-button>
        </ion-buttons>
      </ion-toolbar>
      <ngx-datatable
        #votersTable
        class="fullscreen"
        style="top: 56px"
        [class.material]="!app.isInDarkMode()"
        [class.dark]="app.isInDarkMode()"
        [columns]="col"
        [rows]="filteredVoters"
        [limit]="limit"
        [rowHeight]="rowHeight"
        [headerHeight]="headerHeight"
        [footerHeight]="footerHeight"
        [scrollbarH]="true"
        [columnMode]="columnMode"
        [reorderable]="false"
        [trackByProp]="trackByProp"
        [selectionType]="selectionType"
        [selectAllRowsOnPage]="false"
        [messages]="{ emptyMessage: 'COMMON.NO_ELEMENT_FOUND' | translate }"
        (select)="editMode ? manageVoter($event.selected[0]) : null"
      >
        <ngx-datatable-footer>
          <ng-template
            ngx-datatable-footer-template
            let-rowCount="rowCount"
            let-pageSize="pageSize"
            let-selectedCount="selectedCount"
            let-curPage="curPage"
            let-offset="offset"
          >
            <div class="footerTotals" *ngIf="!app.isInMobileMode()">
              <ng-container>
                <span><strong>{{ 'VOTING.MISSING_EMAILS' | translate }}</strong>: {{ missingEmails }}</span>
                <span><strong>{{ 'VOTING.DUPLICATED_NAMES' | translate }}</strong>: {{ numDuplicatedNames }}</span>
                <span><strong>{{ 'VOTING.DUPLICATED_EMAILS' | translate }}</strong>: {{ numDuplicatedEmails }}</span>
                <span *ngIf="votingSession.isWeighted">
                  <strong>{{ 'VOTING.TOTAL_WEIGHTS' | translate }}</strong>: {{ totalWeights }}
                </span>
              </ng-container>
            </div>
            <datatable-pager
              [pagerLeftArrowIcon]="'datatable-icon-left'"
              [pagerRightArrowIcon]="'datatable-icon-right'"
              [pagerPreviousIcon]="'datatable-icon-prev'"
              [pagerNextIcon]="'datatable-icon-skip'"
              [page]="curPage"
              [size]="pageSize"
              [count]="rowCount"
              [hidden]="!(rowCount / pageSize > 1)"
              (change)="votersTable.onFooterPage($event)"
            >
            </datatable-pager>
          </ng-template>
        </ngx-datatable-footer>
      </ngx-datatable>
    </ng-container>
    <ion-list class="aList maxWidthContainer" *ngIf="pageSection === PageSections.START">
      <ion-card color="white" class="sessionChecklistCard">
        <ion-card-header>
          <ion-item lines="none">
            <ion-icon
              slot="start"
              [size]="app.isInMobileMode() ? 'default' : 'large'"
              [icon]="sessionReady ? 'thumbs-up-outline' : 'thumbs-down-outline'"
              [color]="sessionReady ? 'success' : 'danger'"
            />
            <ion-label>
              <b>{{ (sessionReady ? 'VOTING.READY_TO_START' : 'VOTING.NOT_READY_TO_START') | translate }}</b>
              <p>{{ 'VOTING.HERE_IS_A_CHECKLIST' | translate }}</p>
            </ion-label>
          </ion-item>
        </ion-card-header>
        <ion-card-content class="ion-padding-start ion-padding-end">
          <ion-item>
            <ion-icon
              slot="start"
              [icon]="hasFieldAnError('publishedSince') ? 'close' : 'checkmark'"
              [color]="hasFieldAnError('publishedSince') ? 'danger' : 'success'"
            />
            <ion-label>{{ 'VOTING.SESSION_IS_PUBLISHED' | translate }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon
              slot="start"
              [icon]="hasFieldAnError('ballots') ? 'close' : 'checkmark'"
              [color]="hasFieldAnError('ballots') ? 'danger' : 'success'"
            />
            <ion-label>{{ 'VOTING.AT_LEAST_A_BALLOT' | translate }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon
              slot="start"
              [icon]="hasFieldAnError('voters') ? 'close' : 'checkmark'"
              [color]="hasFieldAnError('voters') ? 'danger' : 'success'"
            />
            <ion-label>{{ 'VOTING.AT_LEAST_A_VOTER' | translate }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon
              slot="start"
              [icon]="hasFieldAnError('voters.duplicatedIds') ? 'close' : 'checkmark'"
              [color]="hasFieldAnError('voters.duplicatedIds') ? 'danger' : 'success'"
            />
            <ion-label>{{ 'VOTING.THERE_ARE_NO_DUPLICATE_VOTERS_IDS' | translate }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon
              slot="start"
              [icon]="hasFieldAnError('voters.duplicatedNames') ? 'close' : 'checkmark'"
              [color]="hasFieldAnError('voters.duplicatedNames') ? 'danger' : 'success'"
            />
            <ion-label>{{ 'VOTING.THERE_ARE_NO_DUPLICATE_VOTERS_NAMES' | translate }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon
              slot="start"
              [icon]="hasFieldAnError('voters.duplicatedEmails') ? 'close' : 'checkmark'"
              [color]="hasFieldAnError('voters.duplicatedEmails') ? 'danger' : 'success'"
            />
            <ion-label>{{ 'VOTING.THERE_ARE_NO_DUPLICATE_VOTERS_EMAILS' | translate }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon
              slot="start"
              [icon]="hasFieldAnError('voters.missingEmails') ? 'close' : 'checkmark'"
              [color]="hasFieldAnError('voters.missingEmails') ? 'danger' : 'success'"
            />
            <ion-label>{{ 'VOTING.THERE_ARE_NO_MISSING_VOTERS_EMAILS' | translate }}</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
      <ion-card color="white" *ngIf="votingSession.isWeighted">
        <ion-card-content
          [innerHTML]="'VOTING.VOTING_WEIGHTS_EXPLANATION' | translate: { tot: votingSession.getTotWeights() }"
        />
      </ion-card>
      <ion-list-header class="ion-padding-top">
        <ion-label>
          <h2>{{ 'VOTING.START_END_INTERVAL' | translate }}</h2>
          <p>{{ 'VOTING.START_END_INTERVAL_I' | translate }}</p>
          <p>{{ 'VOTING.START_END_INTERVAL_II' | translate }}</p>
          <p>{{ 'VOTING.START_END_INTERVAL_III' | translate }}</p>
        </ion-label>
      </ion-list-header>
      <ion-row class="ion-align-items-start" style="background-color: var(--ion-color-white)">
        <ion-col>
          <app-datetime-timezone
            lines="none"
            [label]="'VOTING.ENDS_AT' | translate"
            [class.fieldHasError]="hasFieldAnError('endsAt')"
            [timezone]="votingSession.timezone"
            [(date)]="votingSession.endsAt"
          />
        </ion-col>
        <ion-col>
          <ion-item lines="none" [class.fieldHasError]="hasFieldAnError('timezone')">
            <!--@todo convert in idea-select-->
            <ion-label position="stacked">{{ 'VOTING.TIMEZONE' | translate }}</ion-label>
            <ion-select interface="popover" [(ngModel)]="votingSession.timezone">
              <ion-select-option *ngFor="let timezone of timezones" [value]="timezone">
                {{ timezone }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <p class="ion-margin-top ion-text-center" *ngIf="!votingSession.startsAt">
        <ion-button [disabled]="!sessionReady" (click)="startSession()">
          {{ 'VOTING.START_SESSION' | translate }}
        </ion-button>
      </p>
      <p class="ion-margin-top ion-text-center" *ngIf="votingSession.isInProgress()">In progress todo</p>
      <p class="ion-margin-top ion-text-center" *ngIf="votingSession.hasEnded()">Has ended todo</p>
    </ion-list>
  </ng-container>
</ion-content>
