ion-grid {
  background: var(--ion-color-white);
}

ion-list.aList {
  padding-bottom: 40px;
}

ion-text.smaller {
  font-size: 0.8em;
}

div.footerTotals {
  padding: 8px 0 8px 12px;
  span {
    padding-right: 16px;
    display: inline-block;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }
}

ion-card.sessionChecklistCard {
  ion-card-header {
    padding-bottom: 0;
    ion-item {
      ion-label {
        font-size: 1.1em;
      }
      ion-icon {
        margin-right: 16px;
      }
    }
  }
  ion-card-content {
    ion-item {
      --min-height: 40px;
      --padding-start: 8px;
      ion-label {
        p {
          margin: 0;
        }
      }
      ion-icon {
        margin: 6px 16px;
      }
    }
    ion-item:first-of-type {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
    ion-item:last-of-type {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}

ion-toggle {
  font-size: 0.9em;
  color: var(--ion-color-step-600);
}
