<ion-header class="ion-no-border" *ngIf="app.isInMobileMode()">
  <ion-toolbar color="ideaToolbar">
    <ion-buttons slot="start">
      <ion-button (click)="app.goToInTabs(['voting'], { back: true })">
        <ion-icon slot="icon-only" icon="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ app.configurations.appTitle }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" *ngIf="app.isInMobileMode()" (ionRefresh)="handleRefresh($event?.target)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid class="ion-no-padding" *ngIf="votingSession">
    <ion-row>
      <ion-col [size]="12" [sizeLg]="6">
        <ion-card color="white" class="votingSessionCard">
          <ion-card-header>
            <ion-card-subtitle *ngIf="votingSession.event">{{ votingSession.event?.name }}</ion-card-subtitle>
            <ion-card-title>{{ votingSession.name }}</ion-card-title>
            <p class="badges">
              <ion-badge [color]="votingSession.isSecret ? 'ESNpink' : 'primary'">
                {{ (votingSession.isSecret ? 'VOTING.SECRET_VOTE' : 'VOTING.PUBLIC_VOTE') | translate }}
              </ion-badge>
              <ion-badge color="medium" *ngIf="votingSession.isWeighted">
                {{ 'VOTING.WEIGHTED_VOTE' | translate }}
              </ion-badge>
              <ion-badge color="ESNgreen" *ngIf="votingSession.isInProgress()">
                {{ 'VOTING.IN_PROGRESS' | translate }}
              </ion-badge>
              <ion-badge color="ESNorange" *ngIf="votingSession.hasEnded() && !votingSession.results">
                {{ 'VOTING.ENDED' | translate }}
              </ion-badge>
              <ion-badge color="light" *ngIf="votingSession.hasEnded() && votingSession.results">
                {{ 'VOTING.RESULTS' | translate }}
              </ion-badge>
              <ion-badge *ngIf="votingSession.isDraft()" color="medium">{{ 'VOTING.DRAFT' | translate }}</ion-badge>
              <ion-badge color="warning" *ngIf="votingSession.isArchived()">
                {{ 'COMMON.ARCHIVED' | translate }}
              </ion-badge>
            </p>
          </ion-card-header>
          <ion-card-content>
            <ion-list class="aList" lines="none">
              <ion-item>
                <ion-icon slot="start" icon="ticket-outline" />
                <ion-label>
                  <p>{{ 'VOTING.VOTERS' | translate }}</p>
                  {{ votingSession.voters.length }}
                </ion-label>
              </ion-item>
              <ion-item *ngIf="votingSession.startsAt">
                <ion-icon slot="start" icon="play-outline" />
                <ion-label>
                  <p>{{ 'VOTING.STARTS_AT' | translate }}</p>
                  {{ votingSession.startsAt | dateTz: 'datetime' : votingSession.timezone }}, {{ votingSession.timezone
                  }}
                </ion-label>
              </ion-item>
              <ion-item *ngIf="votingSession.startsAt && votingSession.endsAt">
                <ion-icon slot="start" icon="stop-outline" />
                <ion-label>
                  <p>{{ 'VOTING.ENDS_AT' | translate }}</p>
                  {{ votingSession.endsAt | dateTz: 'datetime' : votingSession.timezone }}, {{ votingSession.timezone }}
                </ion-label>
              </ion-item>
              <app-html-editor
                *ngIf="votingSession.description"
                [content]="votingSession.description"
                [editMode]="false"
              ></app-html-editor>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col [size]="12" [sizeLg]="6">
        <ion-list class="aList" style="max-width: 600px">
          <ion-list-header>
            <ion-label class="ion-margin-start">
              <h1>{{ 'VOTING.BALLOTS' | translate }}</h1>
              <p>{{ 'VOTING.BALLOTS_I' | translate }}</p>
            </ion-label>
          </ion-list-header>
          <ion-item class="noElements" *ngIf="!votingSession.ballots.length">
            <ion-label class="ion-text-wrap">{{ 'VOTING.NO_BALLOTS_YET' | translate }}</ion-label>
          </ion-item>
          <app-voting-ballots [votingSession]="votingSession" [results]="votingSession.results" />
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-fab slot="fixed" vertical="bottom" horizontal="end" *ngIf="votingSession?.canUserManage(app.user)">
  <ion-fab-button color="ESNgreen" size="small" [title]="'COMMON.MANAGE' | translate" (click)="manageSession()">
    <ion-icon icon="build"></ion-icon>
  </ion-fab-button>
</ion-fab>
