ion-card.votingSessionCard {
  @media screen and (max-width: 991px) {
    margin: 0;
    width: 100%;
    box-shadow: none;
  }

  ion-card-header {
    padding-bottom: 0;
    ion-card-title {
      margin-top: 6px;
    }
    p.badges {
      margin-bottom: 0;
      ion-badge {
        margin-right: 6px;
      }
    }
  }
}

ion-card.ballotCard {
  max-width: 500px;
  ion-card-header {
    padding-bottom: 8px;
    ion-card-title {
      font-size: 1.3em;
    }
    ion-card-subtitle {
      margin-top: 2px;
      color: var(--ion-color-step-500);
    }
  }
  ion-card-content {
    ion-item {
      --min-height: 32px;
      --padding-start: 12px;
      ion-badge[slot='start'] {
        margin-right: 12px;
        width: 20px;
      }
      ion-label {
        margin: 0;
        font-size: 0.9em;
      }
    }
  }
}
