ion-card.votingSessionCard {
  @media screen and (max-width: 991px) {
    margin: 0;
    width: 100%;
    box-shadow: none;
  }

  ion-card-header {
    ion-card-title {
      margin-top: 6px;
    }

    p.badges {
      margin-bottom: 0;
      ion-badge {
        margin-right: 6px;
      }
    }
  }

  ion-list.aList {
    ion-list-header ion-label h2 {
      margin-bottom: 0;
    }
    ion-item.importantDate {
      ion-label {
        font-size: 0.9em;
        font-weight: 500;
        p {
          font-size: 0.8em;
          font-weight: 500;
        }
        p:nth-of-type(2) {
          font-weight: 300;
        }
      }
    }
  }
}
