<ion-content>
  <form class="flexBox">
    <ion-card class="authCard">
      <ion-img [src]="app.getIcon(app.isInDarkMode())"></ion-img>
      <ion-card-header>
        <ion-card-subtitle *ngIf="app.configurations.appSubtitle">
          {{ app.configurations.appSubtitle }}
        </ion-card-subtitle>
        <ion-card-title>{{ app.configurations.appTitle }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button (click)="startLoginFlowWithESNAccounts()">
          <ion-icon slot="start" [icon]="app.getIcon(true)"></ion-icon>
          {{ 'AUTH.LOGIN_WITH_ESN_ACCOUNTS' | translate }}
        </ion-button>
        <p class="version">v{{ version }}</p>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
