<ion-content>
  <form class="flexBox">
    <ion-card class="authCard">
      <ion-img [src]="app.getIcon()"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>{{ 'COMMON.APP_DESCRIPTION' | translate }}</ion-card-subtitle>
        <ion-card-title>{{ 'COMMON.APP_NAME_SHORT' | translate }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button (click)="startLoginFlowWithESNGalaxy()">{{ 'AUTH.LOGIN_WITH_ESN_GALAXY' | translate }}</ion-button>
        <p class="version">v{{ version }}</p>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
