<ion-header>
  <ion-toolbar color="ideaToolbar">
    <ion-buttons slot="start">
      <ion-button [title]="'COMMON.CLOSE' | translate" (click)="close()">
        <ion-icon icon="close-circle-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'EMAIL_TEMPLATE.HTML' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button [title]="'COMMON.SAVE' | translate" (click)="save()">
        <ion-icon icon="checkmark-circle-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-list class="aList">
    <ion-list-header>
      <ion-label>
        <p>{{ 'EMAIL_TEMPLATE.HTML_I' | translate }}</p>
        <p>{{ 'EMAIL_TEMPLATE.VARIABLES_ALLOWED' | translate }}</p>
        <ul>
          <li *ngFor="let variable of variables">
            <b>{{ '{{' + variable.code + '}}' }}</b> {{ variable.description }}
          </li>
        </ul>
      </ion-label>
    </ion-list-header>
    <ion-item [class.fieldHasError]="hasFieldAnError('subject')">
      <ion-label position="stacked">{{ 'EMAIL_TEMPLATE.SUBJECT' | translate }}</ion-label>
      <ion-input [(ngModel)]="subject"></ion-input>
    </ion-item>
    <ion-item [class.fieldHasError]="hasFieldAnError('content')">
      <ion-label position="stacked">{{ 'EMAIL_TEMPLATE.CONTENT' | translate }}</ion-label>
      <ion-textarea [rows]="4" [(ngModel)]="content"></ion-textarea>
    </ion-item>
    <ion-row class="ion-margin-top">
      <ion-col [size]="6">
        <ion-button size="small" color="danger" (click)="askAndResetTemplate()">
          {{ 'EMAIL_TEMPLATE.RESET' | translate }}
          <ion-icon icon="trash" slot="end"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col class="ion-text-right" [size]="6">
        <input
          id="htmlFileInput"
          type="file"
          accept=".html"
          style="display: none"
          (change)="loadTemplateFromFile($event?.target)"
        />
        <ion-button size="small" (click)="browseHTMLFile()">
          {{ 'EMAIL_TEMPLATE.CONTENT_FROM_FILE' | translate }}
          <ion-icon icon="folder" slot="end"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col [size]="6">
        <ion-button size="small" color="medium" (click)="downloadTemplate()">
          {{ 'EMAIL_TEMPLATE.DOWNLOAD_TEMPLATE' | translate }}
          <ion-icon icon="cloud-download" slot="end"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col class="ion-text-right" [size]="6">
        <ion-button size="small" color="secondary" (click)="askAndSendTestEmailWithCurrentTemplate()">
          {{ 'EMAIL_TEMPLATE.TEST_TEMPLATE' | translate }}
          <ion-icon icon="send" slot="end"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>
