ion-card-subtitle {
  margin-top: 15px;
  margin-bottom: 30px;
  ion-item {
    border-radius: 4px;
    ion-label {
      font-weight: 500;
    }
  }
}
ion-card-title {
  margin-top: 15px;
  font-size: 1.8em;
}
ion-img {
  margin: 30px auto;
  height: 220px;
  width: 220px;
}
