<ion-card color="white" *ngIf="badge && userBadge">
  <ion-card-header>
    <ion-card-subtitle *ngIf="!userBadge.firstSeenAt">
      <ion-item color="primary">
        <ion-label class="ion-text-wrap ion-text-center">{{ 'PROFILE.YOU_EARNED_A_BADGE' | translate }}</ion-label>
      </ion-item>
    </ion-card-subtitle>
    <ion-card-title class="ion-text-center">{{ badge.name }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p class="ion-text-center">{{ badge.description }}</p>
    <ion-img [src]="app.getImageURLByURI(badge.imageURI)"></ion-img>
    <p class="ion-text-center ion-padding-bottom">
      <ion-badge color="light">
        {{ 'PROFILE.BADGE_EARNED' | translate }}:
        {{ userBadge.earnedAt | dateTz }}
      </ion-badge>
    </p>
    <p class="ion-text-center">
      <ion-button fill="clear" color="medium" (click)="close()">
        {{ 'COMMON.CLOSE' | translate }}
      </ion-button>
    </p>
  </ion-card-content>
</ion-card>
