<ion-header class="ion-no-border" *ngIf="app.isInMobileMode()">
  <ion-toolbar color="ideaToolbar">
    <ion-buttons slot="start">
      <ion-img [src]="app.getIcon()"></ion-img>
    </ion-buttons>
    <ion-title>{{ 'TABS.CONFIGURATIONS' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list class="aList maxWidthContainer">
    <ion-list-header>
      <ion-label>
        <h2>{{ 'CONFIGURATIONS.ENTITIES' | translate }}</h2>
        <p>{{ 'CONFIGURATIONS.ENTITIES_I' | translate }}</p></ion-label
      >
    </ion-list-header>
    <ion-item button detail (click)="app.goToInTabs(['configurations', 'events'])">
      <ion-label>{{ 'CONFIGURATIONS.EVENTS' | translate }}</ion-label>
    </ion-item>
    <ion-item button detail (click)="app.goToInTabs(['configurations', 'categories'])">
      <ion-label>{{ 'CONFIGURATIONS.CATEGORIES' | translate }}</ion-label>
    </ion-item>
    <ion-list-header>
      <ion-label>
        <h2>{{ 'CONFIGURATIONS.GIVE_BADGES' | translate }}</h2>
        <p>{{ 'CONFIGURATIONS.GIVE_BADGES_I' | translate }}</p></ion-label
      >
    </ion-list-header>
    <p class="ion-text-center">
      <ion-button (click)="openBadgesModal()">{{ 'CONFIGURATIONS.GIVE_A_BADGE' | translate }}</ion-button>
    </p>
    <ion-list-header class="ion-padding-top">
      <ion-label>
        <h2>{{ 'CONFIGURATIONS.EMAIL_TEMPLATES' | translate }}</h2>
        <p>{{ 'CONFIGURATIONS.EMAIL_TEMPLATES_I' | translate }}</p>
      </ion-label>
    </ion-list-header>
    <ion-item button detail (click)="openTemplateEmailModal(EmailTemplates.QUESTIONS)">
      <ion-label>{{ 'CONFIGURATIONS.EMAIL_TEMPLATES_TYPES.QUESTIONS' | translate }}</ion-label>
    </ion-item>
    <ion-item button detail (click)="openTemplateEmailModal(EmailTemplates.ANSWERS)">
      <ion-label>{{ 'CONFIGURATIONS.EMAIL_TEMPLATES_TYPES.ANSWERS' | translate }}</ion-label>
    </ion-item>
    <ion-item button detail (click)="openTemplateEmailModal(EmailTemplates.APPLICATION_APPROVED)">
      <ion-label>{{ 'CONFIGURATIONS.EMAIL_TEMPLATES_TYPES.APPLICATION_APPROVED' | translate }}</ion-label>
    </ion-item>
    <ion-item button detail (click)="openTemplateEmailModal(EmailTemplates.APPLICATION_REJECTED)">
      <ion-label>{{ 'CONFIGURATIONS.EMAIL_TEMPLATES_TYPES.APPLICATION_REJECTED' | translate }}</ion-label>
    </ion-item>
    <ion-list-header class="ion-padding-top">
      <ion-label>
        <h2>{{ 'CONFIGURATIONS.ADMINISTRATORS' | translate }}</h2>
        <p>{{ 'CONFIGURATIONS.ADMINISTRATORS_I' | translate }}</p>
      </ion-label>
      <ion-button (click)="addAdministrator()">{{ 'COMMON.ADD' | translate }}</ion-button>
    </ion-list-header>
    <ion-item *ngIf="!configurations">
      <ion-label><ion-skeleton-text animated></ion-skeleton-text></ion-label>
    </ion-item>
    <ion-item *ngFor="let administratorId of configurations?.administratorsIds">
      <ion-label>{{ administratorId }}</ion-label>
      <ion-button fill="clear" color="medium" slot="end" (click)="app.openUserProfileById(administratorId)">
        <ion-icon icon="open-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button
        fill="clear"
        color="danger"
        slot="end"
        *ngIf="configurations.administratorsIds.length > 1"
        (click)="removeAdministratorById(administratorId)"
      >
        <ion-icon icon="trash-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-list-header class="ion-padding-top">
      <ion-label>
        <h2>{{ 'CONFIGURATIONS.OPPORTUNITIES_MANAGERS' | translate }}</h2>
        <p>{{ 'CONFIGURATIONS.OPPORTUNITIES_MANAGERS_I' | translate }}</p>
      </ion-label>
      <ion-button (click)="addOpportunitiesManager()">{{ 'COMMON.ADD' | translate }}</ion-button>
    </ion-list-header>
    <ion-item *ngIf="!configurations">
      <ion-label><ion-skeleton-text animated></ion-skeleton-text></ion-label>
    </ion-item>
    <ion-item
      class="noElements"
      *ngIf="configurations?.opportunitiesManagersIds && !configurations.opportunitiesManagersIds.length"
    >
      <ion-label>{{ 'CONFIGURATIONS.NO_USERS_ADDED' | translate }}</ion-label>
    </ion-item>
    <ion-item *ngFor="let managerId of configurations?.opportunitiesManagersIds">
      <ion-label>{{ managerId }}</ion-label>
      <ion-button fill="clear" color="medium" slot="end" (click)="app.openUserProfileById(managerId)">
        <ion-icon icon="open-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button fill="clear" color="danger" slot="end" (click)="removeOpportunitiesManagerById(managerId)">
        <ion-icon icon="trash-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-list-header class="ion-padding-top">
      <ion-label>
        <h2>{{ 'CONFIGURATIONS.BANNED_USERS' | translate }}</h2>
        <p>{{ 'CONFIGURATIONS.BANNED_USERS_I' | translate }}</p>
      </ion-label>
      <ion-button (click)="addBannedUser()">{{ 'COMMON.ADD' | translate }}</ion-button>
    </ion-list-header>
    <ion-item *ngIf="!configurations">
      <ion-label><ion-skeleton-text animated></ion-skeleton-text></ion-label>
    </ion-item>
    <ion-item class="noElements" *ngIf="configurations?.bannedUsersIds && !configurations.bannedUsersIds.length">
      <ion-label>{{ 'CONFIGURATIONS.NO_BANNED_USERS' | translate }}</ion-label>
    </ion-item>
    <ion-item *ngFor="let userId of configurations?.bannedUsersIds">
      <ion-label>{{ userId }}</ion-label>
      <ion-button fill="clear" color="medium" slot="end" (click)="app.openUserProfileById(userId)">
        <ion-icon icon="open-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button fill="clear" color="danger" slot="end" (click)="removeBannedUserById(userId)">
        <ion-icon icon="trash-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
