<ion-item class="bookItem" *ngIf="book" button (click)="select.emit()">
  <ion-label>
    {{ book.title }}
    <p>
      {{ book.author }}
      <span *ngIf="book.ratingsCount > 0">
        - <b>{{ book.rating }}/5</b> ({{ book.ratingsCount }})
      </span>
    </p>
  </ion-label>
  <ion-badge slot="end" [color]="genreColors[book.genre]">{{ book.genre }}</ion-badge>
</ion-item>
<!-- skeleton -->
<ion-item class="bookItem" *ngIf="!book">
  <ion-label>
    <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
    <p><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></p>
  </ion-label>
</ion-item>
