<ion-header class="ion-no-border" *ngIf="app.isInMobileMode()">
  <ion-toolbar color="ideaToolbar">
    <ion-buttons slot="start">
      <ion-img [src]="app.getIcon()"></ion-img>
    </ion-buttons>
    <ion-title>{{ 'TABS.DASHBOARD' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid [class.ion-no-padding]="app.isInMobileMode()">
    <ion-row>
      <ion-col [size]="12" [sizeLg]="7">
        <ion-list class="aList">
          <ion-list-header>
            <ion-label><h1>Latest communications</h1></ion-label>
          </ion-list-header>
          <ion-item button (click)="openCommunication($event)">
            <ion-icon slot="start" name="bookmark" color="ESNpink" size="small" style="margin-right: 16px"></ion-icon>
            <ion-label>
              Ex. GA August 2023 - Timeline
              <p>Timeline and contents of the Extraordinary GA.</p>
            </ion-label>
            <ion-note slot="end">Jul 17</ion-note>
          </ion-item>
          <ion-item button>
            <ion-icon
              slot="start"
              name="ellipse"
              color="ESNcyan"
              size="small"
              style="width: 12px; margin-right: 16px; margin-left: 4px"
            ></ion-icon>
            <ion-label>
              GA Autumn 2023 - Registrations
              <p>Registrations are open.</p>
            </ion-label>
            <ion-note slot="end">Jul 14</ion-note>
          </ion-item>
          <ion-item button>
            <ion-icon slot="start" name="" color="ESNpink" size="small" style="margin-right: 16px"></ion-icon>
            <ion-label>
              NOs call June 2023
              <p>Please fill-in the topic proposal</p>
            </ion-label>
            <ion-note slot="end">Jun 10</ion-note>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col [class.ion-padding-start]="!app.isInMobileMode()" [size]="12" [sizeLg]="5">
        <ion-list class="aList">
          <ion-list-header>
            <ion-label><h1>Next deadlines</h1></ion-label>
          </ion-list-header>
          <ion-item>
            <ion-badge slot="start" color="danger" style="width: 80px">Today</ion-badge>
            <ion-label>Travel Fund applications</ion-label>
          </ion-item>
          <ion-item>
            <ion-badge slot="start" color="warning" style="width: 80px">Tomorrow</ion-badge>
            <ion-label>GA Autumn registrations</ion-label>
          </ion-item>
          <ion-item>
            <ion-badge slot="start" color="medium" style="width: 80px">Jun 15</ion-badge>
            <ion-label>Topics proposal</ion-label>
          </ion-item>
        </ion-list>
        <ion-list class="aList">
          <ion-list-header>
            <ion-label><h1>Useful links</h1></ion-label>
          </ion-list-header>
          <ion-item button>
            <ion-icon slot="start" icon="open-outline" color="primary" size="small"></ion-icon>
            <ion-label>GA Autumn 2023 documents</ion-label>
          </ion-item>
          <ion-item button>
            <ion-icon slot="start" icon="open-outline" color="primary" size="small"></ion-icon>
            <ion-label>Travel Fund form</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
