<ion-header class="ion-no-border" *ngIf="_app.isInMobileMode()">
  <ion-toolbar color="ideaToolbar">
    <ion-buttons slot="start">
      <ion-img [src]="_app.getIcon(true)" />
    </ion-buttons>
    <ion-title>{{ 'TABS.PROFILE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list class="aList maxWidthContainer">
    <p>
      <ion-avatar>
        <ion-img
          [src]="_app.user.avatarURL ?? _app.getAvatarFallbackURL()"
          (ionError)="_app.fallbackAvatar($event?.target)"
        />
      </ion-avatar>
    </p>
    <ion-item>
      <ion-label class="ion-text-center">
        {{ _app.user.firstName }} {{ _app.user.lastName }}
        <p>{{ _app.user.getOrigin() }}</p>
      </ion-label>
    </ion-item>
    <ng-container *ngIf="!_app.configurations.hideBadges">
      <ion-list-header>
        <ion-label><h2>{{ 'BADGES.YOUR_BADGES' | translate }}</h2></ion-label>
      </ion-list-header>
      <ion-item lines="full" class="noBadges" *ngIf="userBadges && !userBadges.length">
        <ion-icon slot="start" icon="sad-outline" />
        <ion-label class="ion-text-wrap">{{ 'BADGES.NO_BADGES' | translate }}</ion-label>
      </ion-item>
      <ion-grid class="badgesGrid">
        <ion-row class="ion-justify-content-center ion-align-items-center">
          <ion-col *ngIf="!userBadges">
            <ion-skeleton-text animated />
          </ion-col>
          <ion-col *ngFor="let userBadge of userBadges">
            <ion-img
              class="tappable"
              [src]="_badges.getImageURLOfUserBadge(userBadge)"
              (click)="openUserBadgeDetails(userBadge)"
            />
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>
    <ion-list-header>
      <ion-label><h2>{{ 'COMMON.ACTIONS' | translate }}</h2></ion-label>
    </ion-list-header>
    <ion-item button (click)="_app.openUserProfileById(_app.user.userId)">
      <ion-icon name="person-outline" slot="start" />
      <ion-label>{{ 'PROFILE.MANAGE_ON_ESN_ACCOUNTS' | translate }}</ion-label>
    </ion-item>
    <ion-item *ngIf="_app.configurations.supportEmail" button (click)="sendFeedback()">
      <ion-icon name="help-buoy-outline" slot="start" />
      <ion-label>{{ 'PROFILE.FEEDBACK_OR_HELP' | translate }}</ion-label>
    </ion-item>
    <ion-item button (click)="_app.logout()">
      <ion-icon name="log-out-outline" slot="start" />
      <ion-label>{{ 'COMMON.LOGOUT' | translate }}</ion-label>
    </ion-item>
    <p class="ion-text-center version">v{{ version }}</p>
  </ion-list>
</ion-content>
