.maxWidthContainer {
  max-width: 400px;
}

ion-avatar {
  margin: 0 auto;
  width: 150px;
  height: 150px;
}

p.version {
  margin-top: 30px;
  font-size: 0.8em;
  color: var(--ion-color-step-500);
}
