<ion-header class="ion-no-border" *ngIf="app.isInMobileMode()">
  <ion-toolbar color="ideaToolbar">
    <ion-buttons slot="start">
      <ion-img [src]="app.getIcon()"></ion-img>
    </ion-buttons>
    <ion-title>{{ 'TABS.PROFILE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list class="aList maxWidthContainer">
    <p>
      <ion-avatar>
        <ion-img
          [src]="app.user.avatarURL ?? app.getAvatarFallbackURL()"
          (ionError)="app.fallbackAvatar($event?.target)"
        ></ion-img>
      </ion-avatar>
    </p>
    <ion-item>
      <ion-label class="ion-text-center">
        {{ app.user.firstName }} {{ app.user.lastName }}
        <p>{{ app.user.getOrigin() }}</p>
      </ion-label>
    </ion-item>
    <ion-list-header>
      <ion-label><h2>{{ 'PROFILE.YOUR_BADGES' | translate }}</h2></ion-label>
    </ion-list-header>
    <ion-item lines="full" class="noBadges" *ngIf="badges && !badges.length">
      <ion-icon slot="start" icon="sad-outline"></ion-icon>
      <ion-label class="ion-text-wrap">{{ 'PROFILE.NO_BADGES' | translate }}</ion-label>
    </ion-item>
    <ion-grid class="badgesGrid">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col *ngIf="!badges">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-col>
        <ion-col *ngFor="let badge of badges">
          <ion-img
            class="tappable"
            [src]="_badges.getBadgeImage(badge)"
            (click)="_badges.openBadgeDetails(badge)"
          ></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-list-header>
      <ion-label><h2>{{ 'COMMON.ACTIONS' | translate }}</h2></ion-label>
    </ion-list-header>
    <ion-item button (click)="app.openUserProfileById(app.user.userId)">
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-label>{{ 'PROFILE.MANAGE_ON_ESN_ACCOUNTS' | translate }}</ion-label>
    </ion-item>
    <ion-item button *ngIf="app.configurations.supportEmail" (click)="sendFeedback()">
      <ion-icon name="help-buoy-outline" slot="start"></ion-icon>
      <ion-label>{{ 'PROFILE.FEEDBACK_OR_HELP' | translate }}</ion-label>
    </ion-item>
    <ion-item button (click)="app.logout()">
      <ion-icon name="log-out-outline" slot="start"></ion-icon>
      <ion-label>{{ 'COMMON.LOGOUT' | translate }}</ion-label>
    </ion-item>
    <p class="ion-text-center version">v{{ version }}</p>
  </ion-list>
</ion-content>
