<html>
  <body>
    Hello
    {{user}},<br />
    the topic
    <b>{{topic}}</b>
    has a new question, titled:
    <i>{{question}}</i>.<br /><br />
    <a href='{{url}}'>Open the platform to read it!</a>
  </body>
</html>