<html>
  <body>
    Hello
    {{user}},<br />
    unfortunately, there is something wrong with your application to "{{title}}".<br /><br />
    <i>{{message}}</i><br /><br />
    <a href='{{url}}'>Please, open the platform to fix it.</a>
  </body>
</html>