ion-row.infoRow {
  ion-item {
    ion-label {
      b {
        font-size: 1.3em;
        padding-right: 4px;
      }
      p {
        margin-top: 6px;
        ion-badge {
          vertical-align: sub;
          margin: 0 4px;
        }
      }
    }
    ion-label.ion-text-right {
      padding-right: 8px;
    }
    ion-chip[slot='end'][disabled] {
      opacity: 1;
      margin-left: 4px;
    }
  }
}

ion-list.actionsRow {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 0 12px;
  text-align: right;
  &::-webkit-scrollbar {
    display: none;
  }
  > ion-item {
    display: inline-block;
    max-width: 300px;
    font-size: 0.95em;
    ion-select::part(text) {
      font-weight: 500;
    }
  }
}

.chartContainer {
  width: 100%;
  max-width: 1000px;
  min-height: 550px;
  margin: 0 auto;
  canvas {
    width: 100%;
    margin: 0 auto;
  }
}
