ion-row.infoRow {
  ion-item {
    ion-label {
      b {
        font-size: 1.4em;
        padding-right: 4px;
      }
      ion-badge {
        vertical-align: sub;
        margin: 0 4px;
      }
    }
    ion-label.ion-text-right {
      padding-right: 8px;
    }
    ion-chip[slot='end'][disabled] {
      opacity: 1;
      margin-left: 4px;
    }
  }
}
ion-row.actionsRow {
  max-width: 700px;
  margin: 0 auto;
  margin-right: 0;
  padding-bottom: 8px;
  ion-select,
  ion-checkbox {
    font-size: 0.95em;
  }
  ion-select::part(text) {
    font-weight: 500;
  }
}
