ion-item {
  --border-radius: 4px;
  ion-avatar {
    width: var(--app-subject-avatar-size, 50px);
    height: var(--app-subject-avatar-size, 50px);
  }
  ion-label p {
    color: var(--ion-color-step-500);
  }
}
ion-item.small {
  ion-avatar {
    width: var(--app-subject-avatar-size-small, 24px);
    height: var(--app-subject-avatar-size-small, 24px);
  }
  ion-label {
    font-size: 0.9em;
  }
}
