<ion-item
  [button]="subject?.id"
  [color]="color"
  [lines]="lines"
  [class.small]="size === 'small'"
  (click)="openOnESNAccounts()"
>
  <ion-avatar slot="start">
    <ion-img
      [src]="subject.avatarURL ?? app.getAvatarFallbackURL(subject.type !== SubjectTypes.USER)"
      (ionError)="app.fallbackAvatar($event?.target, subject.type !== SubjectTypes.USER)"
    ></ion-img>
  </ion-avatar>
  <ion-label class="ion-text-wrap">
    {{ subject.name ?? ('COMMON.UNKNOWN' | translate) }}
    <p *ngIf="size !== 'small' && subject.getOrigin()">{{ subject.getOrigin() }}</p>
  </ion-label>
</ion-item>
