ion-buttons {
  ion-text {
    font-size: 1.2em;
    padding-right: 12px;
    font-weight: 600;
  }
  ion-icon {
    font-size: 1.4em;
  }
}

ion-content {
  height: 300px;
}

ion-list.aList {
  min-height: 300px;
  padding: 0 0 10px 0;
}
