ion-item {
  ion-label {
    font-size: 0.9em;
    p b {
      font-weight: 500;
    }
  }
  ion-chip[disabled] {
    opacity: 1 !important;
  }
}
ion-item.current {
  border-left: 8px solid var(--ion-color-primary);
}
