<ion-header>
  <ion-toolbar color="ideaToolbar">
    <ion-buttons slot="start">
      <ion-button [title]="'COMMON.CLOSE' | translate" (click)="close()">
        <ion-icon icon="close-circle-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'CONFIGURATIONS.GIVE_A_BADGE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list class="aList">
    <ion-item>
      <ion-label position="stacked">{{ 'CONFIGURATIONS.USER_ID' | translate }}</ion-label>
      <ion-input [(ngModel)]="userId" [readonly]="!!badges"></ion-input>
      <ion-button
        slot="end"
        class="ion-margin-top"
        *ngIf="!badges"
        [disabled]="!userId"
        (click)="getUserBadges(userId)"
      >
        <ion-icon icon="search" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button slot="end" class="ion-margin-top" fill="clear" color="medium" *ngIf="badges" (click)="badges = null">
        <ion-icon icon="arrow-undo" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button
        slot="end"
        class="ion-margin-top"
        fill="clear"
        *ngIf="badges"
        (click)="openESNAccountOfUserId(userId)"
      >
        <ion-icon slot="icon-only" icon="open-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-grid class="ion-margin-top badgesGrid" *ngIf="badges">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col class="ion-text-center" *ngFor="let badge of badges">
          <ion-img [src]="_badges.getBadgeImage(badge)" (click)="_badges.openBadgeDetails(badge)"></ion-img>
          <ion-button fill="clear" color="danger" (click)="removeBadgeFromUser(userId, badge)">
            <ion-icon slot="icon-only" icon="trash"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col class="ion-text-center">
          <ion-button shape="round" (click)="addBadgeToUser(userId)">
            <ion-icon slot="icon-only" icon="add"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
